.hero{
    height: 91vh;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.9) 16.58%, rgba(255, 255, 255, 0) 72.38%), url("../Images/Hero.png");
    background-attachment: fixed;
}


.hero_heading{

    position: absolute;
width: 80%;
max-width: 556px;
height: auto;
left: 30%;
transform: translateX(-50%);
top: 40%;

/* Heading/1 */

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 5vw;
line-height: 1.2;

/* Neutral/800 */

color: #292E3D;

}
@media (max-width: 767px) {
    .hero_heading {
    font-size: 48px;
    position: absolute;
    left: 50%;
    }
    }

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 10px;
    gap:20px;
    background: #3559C7;
border-radius: 2px 2px 0px 0px;
width: 416px;
height: 150px;
position: absolute;
right: 0px;
bottom: 35px;
}

.projects h5{
    width: 163px;
height: 23px;
color: white;
font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;

}

.projects  p{
    color: white;
    width: 312px;
height: 61px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
text-align: center;

}

.button1{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 4px 20px;
gap: 10px;

}

.btn_next{

    position: absolute;
    width: 208px;
    height: 40px;
    right: 0px;
    bottom: -40px;
    background: #292E3D;
   color: white;
  
}

.btn_back{
    position: absolute;
    width: 210px;
    height: 40px;
    right: 207px;
    bottom: -40px;
    background: #292E3D;
    color: white;
}