.reputation{
    position: absolute;
height: 433px;
left: 0px;
right: 0px;
top: 726px;
background: #FFFFFF;
}


.reputation_heading{
    
/* position: absolute;
height: 50px;
left: 548px;

top: 30px; */
font-family: "Work Sans";
font-weight: 700;
font-style: normal;
font-size: 36px;
line-height: 42px;
text-align: center;

color: #292E3D;
margin-top: 50px;

}
@media (max-width: 767px) {

    .reputation{
        margin-top: 200px;
    }
}